#add_new_page {
  .head_bar {
    position: relative;
    border-bottom: 2px solid #d0d0d0;

    .head_contain {
      width: 51%;
      display: block;
      padding: 5px 10px;
      font-size: 20px;
      font-weight: bold;

      span {
        display: inline-block;
        width: 49%;
      }

      #title {
        input {
          padding: 0 10px;
          font-size: 26px;
          font-weight: bold;
          border: none;
        }
      }

      #data_connect,
      #time {
        text-align: right;
      }

      #status {
        display: inline;
        padding: 5px;
        color: #fff;
      }
    }

    .start_stop {
      position: absolute;
      right: 5px;
      top: 5px;
      bottom: 5px;
      width: 150px;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
